body {
    background-image: url(https://w.wallhaven.cc/full/85/wallhaven-8586my.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: serif;
    box-sizing: padding-box;
}

form {
    width: 500px;
    border: 3px solid rgb(224, 154, 154);
    margin: auto;
    padding: 2rem;
    display: auto; /* change display property to flex */
    background: rgba(247, 192, 252, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  
  
  .name-container {
    display: auto;
    justify-content: space-between;
  }

  #fname, #mname, #lname {
    width: calc(33.333% - 20px); /* adjust width to 33.333% and subtract 20px for margin */
    margin: 15px 0; /* remove right margin */
  }
  
  

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

input {
    
    border: 2px solid #ccc;
    font-size: 12px;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
}

label {
    color: #333399;
    text-align: left;
    font-size: 14px;
    padding: 5px;
}

button {
    float: right;
    background: rgb(121, 223, 230);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    opacity: .8;
}

.error {
    background: #f49999;
    color: #fa1f1f;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #befba4;
    color: #0bff1f;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #2c6fff;
}

.ca:hover {
    text-decoration: underline;
}